.logo {
    width: 215px;
}

.topbar {
    background-color: #ffffff;
}
.topbar__inner {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.button {
    cursor: pointer;
    background-image: none;
    background-color: #58a9e0;
    position: relative;
    font-weight: 600;
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    font-size: 14px;
    transition: background .3s, color .3s, border-color .3s;
    color: #ffffff;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 4px;
    height: 40px;
    padding: 0 20px;
}
.button:hover {
    color: #ffffff;
    background: shade(#58a9e0, 10%);
    outline: none;
}
.button:focus {
    color: #ffffff;
    background: shade(#58a9e0, 10%);
    outline: none;
}

.product-wrapper {
    display: flex;
}

.product {
    cursor: pointer;
}

.product,
.wall__draggable {
    align-items: center;
    background-color: #000;
    display: flex;
    font-size: 75%;
    margin-left: auto;
    margin-right: auto;
}

draggable-frame,
.wall__draggable {
    cursor: move;
    position: absolute;
}

.product__inner,
.wall__draggable-inner {
    background-color: #fff;
    margin: auto;
    text-align: center;
}

.wall__container {
    min-height: 800px;
    overflow: scroll;
    position: relative;
    width: 100%;
}

.wall__draggable-content {
    margin-left: auto;
    margin-right: auto;
}