<div class="wall">
    <div class="wall__container" style="background: url({{ path '/images/grid-background.png' }})">
    </div>
    <div class="wall__actions">
        {{> '@button--draggable' add-10x15 }}
        {{> '@button--draggable' add-13x18 }}
        {{> '@button--draggable' add-15x15 }}
        {{> '@button--draggable' add-15x21 }}
        {{> '@button--draggable' add-18x24 }}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        function addDraggable(width, height, content) {
            var $draggable = $(
                '<div class="wall__draggable" style="width: ' + width + 'px; height: ' + height + 'px;">' +
                    '<div class="wall__draggable-inner">' +
                        '<p class="wall__draggable-content">' + content + '</p>' +
                    '</div>' +
                '</div>');

            // draggable
            $(".wall__container").append($draggable);

            //make it "draggable" and "resizable"
            $draggable.draggable({
                grid: [5, 5],
                scroll: true,
                containment: "parent"
            });
        }

        $('.button').click(function() {
            addDraggable($(this).attr('data-draggable-width'), $(this).attr('data-draggable-height'), $(this).attr('id'));
        });

    });
</script>