<div class="wall">
    <div class="wall__container">
        <div class="wall__draggable">
            <div class="wall__draggable-inner">
                <p class="wall__draggable-content">Drag me!</p>
            </div>
        </div>
    </div>
    <div class="wall__actions">
        {{> '@button' add-10x15 }}
        {{> '@button' add-13x18 }}
        {{> '@button' add-15x15 }}
        {{> '@button' add-15x21 }}
        {{> '@button' add-18x24 }}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $(".wall__draggable").draggable({
            grid: [ 1, 1 ],
            containment: "parent"
        });
    });
</script>