/*
 * Component: Wall
 */

.wall__container {
    height: 497px;
    position: relative;
    width: 100%;
}

.wall__actions {
    margin-top: 40px;
    text-align: center;
}

.wall__draggable {
    background-color: white;
    cursor: move;
    height: 150px;
    left: 50px;
    position: absolute;
    top: 50px;
    width: 150px;
}

.wall__draggable-inner {
    align-items: center;
    border: 3px solid black;
    display: flex;
    height: 100%;
}

.wall__draggable-content {
    margin-left: auto;
    margin-right: auto;
}
